<html>
    <head>
        <title>my blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">my Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 13:00</p>
            <h2><a href="">My first post</a></h2>
            <p>こんにちは！ よろしくお願いします！ </p>
        </div>

        <div>
            <p>published: 2014/06/15, 08:00</p>
            <h2><a href="">my second post</a></h2>
            <p> おはよう！ よろしくお願いします！ </p>
        </div>
    </body>
</html>